.card {
  position: relative;
  flex: auto;
  padding: 12px 16px;
  padding-top: 40px;
  border-radius: 10px;

  .fieldL {
    position: absolute;
    top: 12px;
    left: 16px;
    width: 120px;
  }

  .fieldR {
    position: absolute;
    top: 12px;
    right: 16px;
    width: 70px;
  }

  &.long {
    background-color: rgba(82, 196, 26, 0.5);
    border: 1px solid rgba(82, 196, 26, 0.8);
  }

  &.short {
    background-color: rgba(255, 77, 79, 0.5);
    border: 1px solid rgba(255, 77, 79, 0.8);
  }
}

.row {
  display: flex;
  align-items: center;
  height: 32px;

  .label {
    width: 70px;
  }

  .cnt {
    flex: auto;
  }

  .field {
    flex: auto;

    :global(.ant-select-selector) {
      border-color: transparent !important;
    }
  }

  &.rowAccount {
    flex: auto;

    .label {
      width: auto;
      padding-right: 16px;
    }
  }
}

.row:nth-child(2n) {
  .label {
    padding-left: 10px;
  }
}
